.vscode/

.vs/

Integration_Code/Debug/Integration_Code.ilk

Integration_Code/Debug/Integration_Code.pdb


Integration_Code/Integration_Code/Debug/

Integration_Code/.vs/

Integration_Code/.vs/slnx.sqlite

Integration_Code/.vs/Integration_Code/v16/.suo

Integration_Code/.vs/Integration_Code/v16/Browse.VC.db

Integration_Code/Integration_Code/x64/

Integration_Code/Integration_Code/x64/Debug

Integration_Code/Integration_Code/x64/Debug/Integration_Code.tlog

Integration_Code/x64/Debug/Integration_Code.pbd

*.db

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb
*.exe
Integration_Code/Integration_Code/Release/BoardGraphics.obj
Integration_Code/Integration_Code/Release/CheckUserInputs.obj
Integration_Code/Integration_Code/Release/Integration_Code.exe.recipe
Integration_Code/Integration_Code/Release/Integration_Code.iobj
Integration_Code/Integration_Code/Release/Integration_Code.ipdb
Integration_Code/Integration_Code/Release/Integration_Code.log
Integration_Code/Integration_Code/Release/main.obj
Integration_Code/Integration_Code/Release/UserInput.obj
Integration_Code/Integration_Code/Release/Utils.obj
Integration_Code/Integration_Code/Release/vc142.pdb
Integration_Code/Integration_Code/Release/Integration_Code.tlog/CL.command.1.tlog
Integration_Code/Integration_Code/Release/Integration_Code.tlog/CL.read.1.tlog
Integration_Code/Integration_Code/Release/Integration_Code.tlog/CL.write.1.tlog
Integration_Code/Integration_Code/Release/Integration_Code.tlog/Integration_Code.lastbuildstate
Integration_Code/Integration_Code/Release/Integration_Code.tlog/link.command.1.tlog
Integration_Code/Integration_Code/Release/Integration_Code.tlog/link.read.1.tlog
Integration_Code/Integration_Code/Release/Integration_Code.tlog/link.write.1.tlog
Integration_Code/Release/Integration_Code.pdb
